<html>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
</style>
<script>
    function myFunction() {
        var x = document.createElement("FORM");
        x.setAttribute("id", "myForm");
        document.body.appendChild(x);
        var y = document.createElement("INPUT");
        y.setAttribute("type", "text");
        y.setAttribute("id", "name");
        y.setAttribute("value", "name");
        document.getElementById("myForm").appendChild(y);
        var y = document.createElement("INPUT");
        y.setAttribute("type", "text");
        y.setAttribute("value", "username");
        document.getElementById("myForm").appendChild(y);
        var y = document.createElement("INPUT");
        y.setAttribute("type", "text");
        y.setAttribute("value", "Currency to sell");
        document.getElementById("myForm").appendChild(y);
        var y = document.createElement("INPUT");
        y.setAttribute("type", "text");
        y.setAttribute("value", "Currency to buy");
        document.getElementById("myForm").appendChild(y);
        var y = document.createElement("INPUT");
        y.setAttribute("type", "text");
        y.setAttribute("value", "Advertisement time out");
        document.getElementById("myForm").appendChild(y);
    }
    myFunction();
    </script>
    <button type="button" class="btn btn-primary" id = "BuyEth">Buy ETH</button>
    <button type="button" class="btn btn-primary" id = "BuyIOTA">Buy IOTA</button>
    <button type="button" class="btn btn-primary">Buy NEO</button>
    <button type="button" class="btn btn-primary">Buy BITCOIN</button>
    <button type="button" class="btn btn-primary">Buy LITECOIN</button>
    <button type="button" class="btn btn-primary">Sell ETH</button>
    <button type="button" class="btn btn-primary">Sell IOTA</button>
    <button type="button" class="btn btn-primary">Sell NEO</button>
    <button type="button" class="btn btn-primary">Sell BITCOIN</button>
    <button type="button" class="btn btn-primary">Sell LITECOIN</button>
    <body>
    <script src = 'https://futureconn.coinplot.info/socket.io/socket.io.js'></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
    var socket = io("https://futureconn.coinplot.info");
    $(document).ready(function(){
        $("#BuyEth").click(function(){
            socket.emit('createadd', '{"name":"coinplot.info","username":"dornlabs@protonmail.com","currencysell":"ETH","currencybuy":"IOTA","timeout":2}');
            console.log('clicked');
        });
        $("#BuyIOTA").click(function(){
            socket.emit('createadd', '{"name":"'+$('#name').val()+'.coinplot.info","username":"dornlabs@protonmail.com","currencysell":"IOTA","currencybuy":"IOTA","timeout":2}');
            console.log('clicked');
        });
        $(function () {
        $('form').submit(function(){
        socket.emit('createadd', $('#m').val());
        $('#m').val('');
        return false;
        });
        socket.on('chat message', function(msg){
                $('#messages').append($('<li>').text(msg));
        });
        });
    });
    </script>
    <ul id="messages"></ul>
    <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>
