<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Coinplot.info</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="http://coinplot.info/static/charts/echarts/echarts.min.js"></script>
<style>
main{
width: 100%;
height: 100%;   
}
#home{
  background-image: url('../img/jumbotron-bkg-2.jpg');
  margin-top: 50px;
  text-align: center;
}
</style>
        <div class = "container">
            <div class="jumbotron" id="home">
                    <h1 class="display-4">Welcome to Coinplot.info</h1></h1>
                    <h1 class="cover-heading"></h1>
                    <p class="lead">
                            <a href="/views" class="btn btn-primary">Charts, Wallets</a>
                            <a href="/vue" class="btn btn-primary">Trading</a>
                          </p>
                    <hr class="my-4">
                    <p><a href = "https://www.wheretomine.io/">Where to mine</a></p>
                    <p><a href = "https://email.dornhost.com/">Free email with encryption</a></p>
                    <p><a href = "https://streams.coinplot.info/">Search Engine</a></p>
                    <div>
                        <form action="/coinplot.info/txt" method="post">
                            Url: <input type="text" name="text"><br>
                        <input type="submit" value="Submit">
                        </form>
                    </div>
        </div>
        <div class = "container">
            <div class="row">
                <div class="col-md-4">
                    <table>
                        <tr>
                            <th>
                                Ethereum current price <h2><%= eth_cur%></h2>
                                Ethereum 24 hour average <h2><%= eth%></h2>
                                Ethereum 24 hour high <h2><%= eth_high%></h2>
                                Ethereum 24 hour low <h2><%= eth_low%></h2>  
                            </th>
                            <th>
                            </th>
                        </tr>
                        </table>
                </div>
                <div class="col-md-4">
                    <table>
                        <tr>
                            <th>
                                Litecoin current price <h2><%= ltc_cur%></h2>
                                Litecoin 24 hour average <h2><%=ltc%></h2>
                                Litecoin 24 hour high <h2><%=ltc_high%></h2>
                                Litecoin 24 hour low <h2><%=ltc_low%></h2>
                            </th>
                            <th>
                            </th>
                        </tr>
                        </table>
                </div>
                <div class="col-md-4">
                    <table>
                        <tr>
                        <th>
                            Bitcoin current price <h2><%=btc_cur%></h2>
                            Bitcoin 24 hour average <h2><%=btc%></h2>
                            Bitcoin 24 hour high <h2><%=btc_high%></h2>
                            Bitcoin 24 hour low <h2><%=btc_low%></h2>
                        </th>
                        <th>
                        </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  </body>
  </div>
</div>
<div class = "container">
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
      </style>
      </head>
     <body>
      <script src = 'https://http2.coinplot.info/socket.io/socket.io.js'></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script>
      $(function () {
      var socket = io("https://http2.coinplot.info");
        socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        });
       });
      </script>
      <ul id="messages"></ul>
</div>