<script type="text/javascript">
    // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('ethereumchart'));
    
    var getEthPrice = function(){
       var xhttp = new XMLHttpRequest();
       xhttp.open("GET", "https://coinplot.info/eth" , true);
       xhttp.send();     
       return xhttp.responseText;
     }
  
    function randomData() {
          now = new Date(+now + oneDay);
          value = value + Math.random() * 21 - 10;
          
          var value2 = parseFloat(getEthPrice());
          
          return {
          name: now.toString(),
          value: [
              [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
              Math.round(value2)
          ]
       }
    }
  
  var data = [];
  var now = +new Date(1997, 9, 3);
  var oneDay = 24 * 3600 * 1000;
  var value = Math.random() * 1000;
  
  //for (var i = 0; i < 10; i++) {
  //    data.push(randomData());
  //}
    // specify chart configuration item and data
    var option = {
  title: {
    text: 'Ethereum'
  },
  tooltip: {
    trigger: 'axis',
    formatter: function (params) {
        params = params[0];
        var date = new Date(params.name);
        return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
    },
    axisPointer: {
        animation: false
    }
  },
  xAxis: {
    type: 'time',
    splitLine: {
        show: false
    }
  },
  yAxis: {
    type: 'value',
    boundaryGap: [0, '100%'],
    splitLine: {
        show: false
    }
  },
  series: [{
    name: '模拟数据',
    type: 'line',
    showSymbol: false,
    hoverAnimation: false,
    data: data
  }]
  };
  setInterval(function () {
  
  for (var i = 0; i < 1; i++) {
    data.push(randomData());
  }
  
  myChart.setOption({
    series: [{
        data: data
    }]
  });
  }, 1000);
    // use configuration item and data specified to show chart
    myChart.setOption(option);
  </script>



<script type="text/javascript">
  // based on prepared DOM, initialize echarts instance
var getLtcPrice = function(){
     var xhttp = new XMLHttpRequest();
     xhttp.open("GET", "https://coinplot.info/ltc" , true);
     xhttp.send();     
     return xhttp.responseText;
}  
var myChart = echarts.init(document.getElementById('main2'));
function randomData() {
    now = new Date(+now + oneDay);
    value = value + Math.random() * 21 - 10;
    return {
        name: now.toString(),
        value: [
            [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
                Math.round(value)
            ] 
        }
    }

var data = [];
var now = +new Date(1997, 9, 3);
var oneDay = 24 * 3600 * 1000;
var value = Math.random() * 1000;

  var option = {
title: {
  text: 'Litecoin'
},
tooltip: {
  trigger: 'axis',
  formatter: function (params) {
      params = params[0];
      var date = new Date(params.name);
      return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
  },
  axisPointer: {
      animation: false
  }
},
xAxis: {
  type: 'time',
  splitLine: {
      show: false
  }
},
yAxis: {
  type: 'value',
  boundaryGap: [0, '100%'],
  splitLine: {
      show: false
  }
},
series: [{
  name: '模拟数据',
  type: 'line',
  showSymbol: false,
  hoverAnimation: false,
  data: data
}]
};
setInterval(function () {

for (var i = 0; i < 5; i++) {
  data.shift();
  data.push(randomData());
}

myChart.setOption({
  series: [{
      data: data
  }]
});
}, 1000);
  // use configuration item and data specified to show chart
  myChart.setOption(option);
</script>