<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>trade-ui</title>
    <link rel="stylesheet" href="static/dist/main.css">
  </head>
  <body>
    <div id="app"></div>
    <script src="static/dist/build.js"></script>
  </body>
</html>
