
<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
   <body>
    <script src = '/socket.io/socket.io.js'></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
    $(function () {
      var socket = io("https://http2.coinplot.info");
        $('form').submit(function(){
          socket.emit('createadd', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
          });
        });
        $('html,body').animate({scrollTop: document.body.scrollHeight},"fast");
      </script>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </body>
</html>
